.bodyguide {
  
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.bodyguide2{
    
    background-color: #ddd;
        height:173vh;
}
.lerntouseposit{
    position:absolute;
    top:15%;
    left:18%;
}
.lerntousetxt2 {
    position: absolute;
        top: 151px;
                left: 359px;
    
    color:rgb(109, 103, 103);
}
.filtertxt{
position: absolute;
    top: 130px;
    right:50px;
}
.dashboardtext{
    position: absolute;
        top: 22%;
        left: 18%;
    color:rgb(65, 65, 238);
}
.triangle-right {
    width: 1px;
    height: 1px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgb(109, 103, 103);
    position: absolute;
        top:156px;
        left: 343px;
}


.positvid {
    position: absolute;
  
top: 25%;

    left: 14%;
    right:5%;
    border-radius: 10px;
}
.video-wrapper {
    border-radius: 10px;
    position: relative;
    margin: 70px;

    margin-bottom: 0.5px;
   
    /* add margin to create spacing between videos */
}

.play-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border:4px solid #5e5b5b;
        /* make button circular */
        background-color: transparent;
        /* grayish background color */
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #5e5b5b;
    cursor: pointer;
}
video::cue {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
.video-wrapper:hover .play-arrow {
    display: block;
    /* show play arrow on hover */
}
.videodiv {
    width: 125%;
    border-radius: 10px;
    /* make the video div fu width */
    padding-top: 120%;
    /* maintain the aspect ratio */
    position: relative;
        /* darkish transparent background */
}

.videodiv video {
    border-radius: 5px;
    position: absolute;
    top: 0;
        background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.videodiv video:not(.playing) {
    filter: grayscale(0.5);
    /* add a grayish filter when not playing */
}
