.navimage{
padding:7px;
    position:absolute;
    top:0;
    left:0;
    width: 14%;
    height: 10%;
}

.linee {
    border-top: 1px solid #616161;
    width: 15%;
position: absolute;
left:5px;
top:10%;
    height: 1px;
}
.signoutposi{
    position: absolute;
    bottom: 4px;
    left:4%;
}
.line2 {
    border-top: 1px solid #616161;
    width: 80%;
    top:11%;
    position: absolute;
    left: 18%;
    height: 1px;
}
.bg {
    background-color: #1D1F2C !important;
}

.text-whit {
    color: white !important;
}
.iconsright{
    position:absolute;
    top:3%;
    right:1%;
    color:grey;
}

.namepos{
    position: relative;
    top:1px !important;
    right: 2%;
    margin-right: 10px;
    font-weight: bolder;
    color:black;
    text-decoration: none;
}
.searchh{
    background-color: #fff;
}
        .searchh:hover {
            background-color: #fff;
            border: 1px solid #ced4da;
            box-shadow: none;
        }
.desipos {
    position: relative;
   right:2%;
    color: black;
        text-decoration: none;
}
.iconsrightt {
    position: absolute;
    top: 0.5;
    right: 0;
    color: grey;
}
.adjust {
    position: relative;
    left: 15vw;
    /* Start from 280% of the left edge */
    top: 2px;
    width: 60vw !important;
    /* Full screen width */
    height: 250%;
    background-color: white;
    border-color: white;
}
.badge {
    font-size: 10px;
    padding: 2px 4px;
    position: absolute;
    bottom: 9px;
    left: 7px;
    border-radius: 50%;
    background-color: rgb(75, 150, 219);
    color: white;
}